body{
  direction: rtl;
  font-family: 'Varela Round', sans-serif;
}

.heading{
  position: relative;
  height: 100vh;
  @include bg-img($bg-color: rgba(255, 255, 255, 0.5));
  background-image: url('../imges/blur-cellphone-close-up-196644.jpg');
  
  .box-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 6em;
    letter-spacing: 8px;
    text-shadow: $text-shadow;
  }
  hr{
    opacity: 1;
    border-top: 8px solid $primary-color;
  }
  h3{
    font-size: 6em;
    text-shadow: $text-shadow;
  }
  
}

.main{
  position: relative;
  padding: 180px 0;
  background: rgb(44,63,94);
  background: linear-gradient(180deg, rgba(44,63,94,1) 30%, rgba(76,63,29,1) 70%); 
  
  .main-box{
    padding: 40px;
    @include bg-img($bg-color: rgba(0, 0, 0, 0.3));
    background-image: url('../imges/web-design-2906159_1920.jpg');
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    h2{
      font-size: 4em;
      text-shadow: $text-shadow;
    }
    hr{
      opacity: 1;
      border-top: 4px solid #fff;
      width: 220px;
      text-shadow: $text-shadow;
    }
    p{
      font-size: 2.5em;
      line-height: 2;
      text-shadow: $text-shadow;
    }
  } 
}

.waves-svg-top{
  @extend %waves-svg;
  fill: #2c3f5e;
  transform: rotate(180deg);
  bottom: -1px;
}


.waves-svg{
  @extend %waves-svg;
  fill: #4c3f1d;
  top: 0;
}



.knowledge{
  position: relative;
  padding: 200px 0 0 0;
  background: linear-gradient(160deg, #dddddd 0%, #0d1a35 100%);;
  // color: $primary-color;
  h2{
    padding: 100px 0;
    font-size: 5em;
    text-align: center;
    text-shadow: $text-shadow;
  }
  .card{
    border-radius: 10px;
    i{
      font-size: 4em;
      color: $yellow-800;
      text-shadow: $text-shadow;
    }
    
    h5{
      padding: 10px 0;
      font-size: 2.5em;
      text-shadow: $text-shadow;
    }
    p{
      padding: 10px;
      font-size: 1.5em;
      text-shadow: $text-shadow;
    }
  }
  
  .icons{
    padding: 150px 0;
    i{
      color: #fff;
      font-size: 4.5em;
    }
  }

}


.Portfolio{
  padding: 100px 0;
  h2{
    padding: 20px 0;
    font-size: 2.5em;
    text-align: center;
  }
}

footer{
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #333333;
  color: #ffffff;
}
  
/* #2c3f5e */